<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <title>Crud ma22054</title>
</head>
<body>
    <div class="container">
        <div>
            <hi>Lista de Usuarios</h1>
        </div>
        <div class="card">
            <div class="card-header">
                Usuarios
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped ">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    <tr th:each="usr: ${users} ">
                        <td th:text="${usr.id}"></td>
                        <td th:text="${usr.name}"></td>
                        <td>
                            <a class="btn btn-info" th:href="@{'/editar/'+ ${usr.id}}"> Editar</a>
                            <a class="btn btn-danger" th:href="@{'/eliminar/'+ ${usr.id}}"
                                onclick="return confirm('Seguro deseas eliminar este registro?')"
                            >Eliminar</a>
                        </td>
                    </tr>
                </table>
                <a class="btn btn-dark" href="/nuevo">Agregar usuario</a>
            </div>
        </div>
    </div>
    <footer>
        <h2>Grupo #4</h2>
        <ul>
            <li>Victor José Morales Anaya | MA12106</li>
            <li>Roman Edgardo Mendoza Arias | MA22054</li>
            <li>Eli Antonio Muñoz Vasquez | MV22023</li>
        </ul>
    </footer>
</body>
</html>
